<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeongmini.movie.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.jeongmini.movie.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			* 
		FROM user;
	</select>
	
	<insert id="insert">
		INSERT INTO user (
		   	loginId
		    , password
		    , phone
		    , name
		    , birth
		    , emailFull
		    , postcode
		    , address
		    , marketingAgree
		) VALUES (
		    #{loginId}
		    , #{password}
		    , #{phone}
		    , #{name}
		    , #{birth}
		    , CONCAT(#{email},'@',(SELECT cc.ccNameEng FROM commonCode cc WHERE cc.seq = #{domain}))
			, #{postcode}
			, CONCAT(#{address},' ',#{detailAddress})
		    , #{marketingAgree}
		)
		<selectKey resultType="int" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="login" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.loginId
			,a.phone
			,a.name
			,a.birth
			,a.emailFull
			,a.adminNy
		FROM
			user a
		WHERE 1=1
			AND a.loginId = #{loginId}
			AND a.password = #{password}
	</select>
	
	<select id="selectOneMember" resultMap="resultMapObj">
		SELECT
			*
		FROM
			user a
		WHERE 1=1
			AND seq = #{seq}
	</select>
	
	<select id="idCheck" resultType="int">
		SELECT
			COUNT(*)
		FROM
			user
		WHERE
			loginId = #{loginId}
	</select>
	
	<insert id="profileUploaded">
		INSERT INTO ${tableName} (
			path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		) values (
			#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
	
	<select id="selectProfile" resultMap="resultMapObj">
		SELECT
			path
			, originalName
			, uuidName
		FROM
			memberUploaded
		WHERE
			pseq = #{pseq}
	</select>
	
	
</mapper>	