<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeongmini.movie.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.jeongmini.movie.modules.member.Member"></resultMap>
    
    <sql id="where">
		WHERE 1=1
			<choose>
				<when test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</when>
				<otherwise>AND a.delNy = 0</otherwise>
			</choose>
			<!-- <if test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</if>  -->
			<choose>
				<when test="shOption == 1">AND name LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 2">AND emailFull LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND phone LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
 			<choose>
 				<when test="shDate == 1">AND date(createdAt) BETWEEN STR_TO_DATE(DATE_FORMAT(#{shStartDate}, '%Y-%m-%d 00:00:00'), '%Y-%m-%d %T') AND STR_TO_DATE(DATE_FORMAT(#{shEndDate}, '%Y-%m-%d 00:00:00'), '%Y-%m-%d %T')</when>
				<when test="shDate == 2">AND date(updatedAt) BETWEEN STR_TO_DATE(DATE_FORMAT(#{shStartDate}, '%Y-%m-%d 00:00:00'), '%Y-%m-%d %T') AND STR_TO_DATE(DATE_FORMAT(#{shEndDate}, '%Y-%m-%d 00:00:00'), '%Y-%m-%d %T')</when>
			</choose>
	</sql>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT 
			a.* 
		FROM user a
		<include refid="where"></include>
		ORDER BY seq DESC
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}
	</select>
	
	<insert id="insert">
		INSERT INTO user (
		   	loginId
		    , password
		    , phone
		    , name
		    , birth
		    , emailFull
		    , postcode
		    , address
		    , marketingAgree
		    , adminNy
		    , gender
		    , delNy
		) VALUES (
		    #{loginId}
		    , #{password}
		    , #{phone}
		    , #{name}
		    , #{birth}
		    , CONCAT(#{email},'@',(SELECT cc.ccNameEng FROM commonCode cc WHERE cc.seq = #{domain}))
			, #{postcode}
			, CONCAT(#{address},' ',#{detailAddress})
		    , #{marketingAgree}
		    , 0
		    , #{gender}
		    , 0
		)
		<selectKey resultType="int" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="kakaoInsert">
		INSERT INTO user (
		   	loginId
		    , phone
		    , name
		    , birth
		    , emailFull
		    , gender
		    , snsImg
		    , adminNy
		    , delNy
		) VALUES (
		    #{snsId}
		    , #{phone}
		    , #{name}
		    , #{birth}
		    , #{emailFull}
		    , #{gender}
		    , #{snsImg}
		    , 0
		    , 0
		)
		<selectKey resultType="int" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE user
		SET 
		    phone = #{phone}
		    , emailFull = CONCAT(#{email},'@',(SELECT cc.ccNameEng FROM commonCode cc WHERE cc.seq = #{domain}))
		    , postcode = #{postcode}
		    , address = #{address}
			<if test="pwnew != null and pwnew != ''">
				,password = #{pwnew}
			</if>
		WHERE 1=1
			AND seq = #{seq}
			AND password = #{pwnow}
	</update>
	
	<select id="login" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.loginId
			,a.phone
			,a.name
			,a.birth
			,a.emailFull
			,a.adminNy
		FROM
			user a
		WHERE 1=1
			AND a.loginId = #{loginId}
			AND a.password = #{password}
	</select>
	
	<select id="snsLoginCheck" resultMap="resultMapObj">
		SELECT
			a.seq
			,a.loginId
			,a.phone
			,a.name
			,a.birth
			,a.emailFull
			,a.adminNy
		FROM
			user a
		WHERE 1=1
			AND a.loginId = #{snsId}
			AND a.name = #{name}
	</select>
	
	<select id="selectOneMember" resultMap="resultMapObj">
		SELECT
			*
		FROM
			user a
		WHERE 1=1
			AND seq = #{seq}
	</select>
	
	<select id="idCheck" resultType="int">
		SELECT
			COUNT(*)
		FROM
			user
		WHERE
			loginId = #{loginId}
	</select>
	
	<insert id="profileUploaded">
		INSERT INTO ${tableName} (
			path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		) values (
			#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</insert>
	
	<update id="profileUpdated">
		UPDATE ${tableName}
		SET path = #{path},
			originalName = #{originalName},
			uuidName = #{uuidName},
			ext = #{ext},
			size = #{size},
			delNy = 0,
			pseq = #{pseq}
		WHERE pseq = #{pseq}
	</update>
	
	<select id="selectProfile" resultMap="resultMapObj">
		SELECT
			path
			, originalName
			, uuidName
		FROM
			memberUploaded
		WHERE
			pseq = #{pseq}
	</select>
	
	<select id="selectCountProfile" resultType="int">
		SELECT
			COUNT(*)
		FROM
			memberUploaded
		WHERE
			pseq = #{pseq}
	</select>
	
	<select id="selectMemberCount" resultType="Integer">
		SELECT
			count(*)
		FROM 
			user a
		<include refid="where"></include>
	</select>
	
	<delete id="delete">
		DELETE FROM user
		WHERE seq = #{seq};
	</delete>
	
	<update id="uelete">
		UPDATE
			user a
		SET
			a.delNy = 1
			, updatedAt = now()
		WHERE
			a.seq = #{seq}
	</update>
	
</mapper>	