<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeongmini.movie.modules.theater.TheaterMapper">

    <resultMap id="resultMapObj" type="com.jeongmini.movie.modules.theater.Theater"></resultMap>
    
    <select id="selectTheaterList" resultMap="resultMapObj">
		SELECT 
			t.city,
			t.brchNo,
			t.theaterNm,
			t.address,
			t.callNumber
		FROM 
			theater t
		<choose>	
			<when test="sort != null">
				WHERE
					sort = #{sort}
				ORDER BY t.theaterNm
			</when>
		</choose>
	</select>
</mapper>