<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jeongmini.movie.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.jeongmini.movie.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.seq
			,b.cgSeq
		    ,b.cgName
			,a.ccAnother
			,a.ccName
			,a.ccNameEng
			,a.useNy
			,a.createdAt
			,a.updatedAt
		FROM 
			commonCode a 
		JOIN 
			codeGroup b
		WHERE 1=1
			AND a.cgSeq = b.cgSeq
			<choose>
				<when test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</when>
				<otherwise>AND a.delNy = 0</otherwise>
			</choose>
			<if test="shDelNy != null and !shDelNy.equals('')">AND a.delNy = #{shDelNy}</if> 
			<choose>
				<when test="shOption == 1">AND seq = #{shValue}</when>
				<when test="shOption == 2">AND ccName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND ccNameEng LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
			<choose>
 				<when test="shDate == 1">AND date(a.createdAt) BETWEEN STR_TO_DATE(DATE_FORMAT(#{shStartDate}, '%Y-%m-%d 00:00:00'), '%Y-%m-%d %T') AND STR_TO_DATE(DATE_FORMAT(#{shEndDate}, '%Y-%m-%d 00:00:00'), '%Y-%m-%d %T')</when>
				<when test="shDate == 2">AND date(a.updatedAt) BETWEEN STR_TO_DATE(DATE_FORMAT(#{shStartDate}, '%Y-%m-%d 00:00:00'), '%Y-%m-%d %T') AND STR_TO_DATE(DATE_FORMAT(#{shEndDate}, '%Y-%m-%d 00:00:00'), '%Y-%m-%d %T')</when>
			</choose>
	</select>
	
	<select id="emailSelectList" resultMap="resultMapObj">
		SELECT
			seq
			, ccNameEng
		FROM 
			commonCode
		WHERE 
			cgSeq = 14;
	</select>
	
	<insert id="insert">
		INSERT INTO commonCode (
			cgSeq
			, ccAnother
		    , ccName
		    , ccNameEng
		    , useNy
		    , delNy
		) VALUES (
			#{cgSeq}
			, #{ccAnother}
		    , #{ccName}
		    , #{ccNameEng}
		    , #{useNy}
		    , #{delNy}
		)
		<selectKey resultType="int" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
		
	</insert>

</mapper>	