<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.jeongmini.movie.modules.movie.MovieMapper">
	<resultMap id="resultMapObj" type="com.jeongmini.movie.modules.movie.Movie"></resultMap>
	
	<select id="selectRunning" resultMap="resultMapObj">
		SELECT 
			mi.*
			, boa.ranking
			, (SELECT COUNT(*) FROM movieLike ml WHERE mi.movieCode = ml.movieCode AND ml.delNy = 0) AS totalCountLike
			<choose>
				<when test="userSeq != null and !userSeq.equals('')">
					,(SELECT COUNT(*) FROM movieLike ml WHERE ml.userSeq = #{userSeq} and mi.movieCode = ml.movieCode AND ml.delNy = 0) AS existLike
				</when>
			</choose>
		FROM 
			movieInfo2022 mi 
		LEFT JOIN 
			boxOfficeAPI boa 
		ON 
			mi.title LIKE boa.movieNm
		JOIN 
			runningCurrent rc 
		ON 
			mi.movieCode = rc.movieCode 
		ORDER BY ISNULL(boa.ranking), boa.ranking ASC, mi.openDate DESC
	</select>
	
	<select id="selectPremovie" resultMap="resultMapObj">
		<![CDATA[
		SELECT 
			mi.* 
		FROM 
			movieInfo2022 mi 
		WHERE 
			DATE_FORMAT(now(), '%Y.%m.%d') < STR_TO_DATE(mi.openDate , '%Y.%m.%d') 
		ORDER BY mi.openDate ASC
		]]>
	</select>
	
	<select id="selectMovie" resultMap="resultMapObj">
		SELECT 
			mi.*
		FROM 
			movieInfo2022 mi
		WHERE
			mi.movieCode = #{movieCode} ;
	</select>
	
	<select id="selectBoxofficeAPI" resultMap="resultMapObj">
		SELECT 
			mi.*
			, boa.ranking
		FROM 
			movieInfo2022 mi 
		JOIN boxOfficeAPI boa 
		ON REPLACE(mi.title," ","") LIKE REPLACE(boa.movieNm," ","")
		ORDER BY boa.ranking
		LIMIT 4
	</select>
	
<!-- 	<insert id="boxofficeInst">
		INSERT INTO boxOfficeAPI (
			ranking
			, movieNm
			, openDt
			, audiCnt
			, audiAcc
		) VALUES (
			#{ranking}
			, #{movieNm}
			, #{openDt}
			, #{audiCnt}
			, #{audiAcc}
		)
		<selectKey resultType="int" keyProperty="seq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert> -->
	
	<update id="boxofficeUpdate">
		UPDATE 
			boxOfficeAPI
		SET
			ranking = #{ranking}
			, movieNm = #{movieNm}
			, openDt = #{openDt}
			, audiCnt = #{audiCnt}
			, audiAcc = #{audiAcc}
			, updatedAt = now()
		WHERE
			ranking = #{ranking}
	</update>

	<select id="selectCountLike" resultType="int">
		SELECT
			COUNT(*)
		FROM
			movieLike
		WHERE 1=1
			AND userSeq = #{userSeq}
			AND movieCode = #{movieCode}
			AND delNy = 0 
	</select>
	
	<insert id="movieLikeInst">
		INSERT INTO movieLike (
			movieCode
			, userSeq
			, delNy
		) VALUES (
			#{movieCode}
			, #{userSeq}
			, 0
		)
	</insert>
	
	<update id="movieLikeDel">
		UPDATE movieLike SET delNy = 1
	</update>
	
	<select id="selectTotalCountLike" resultType="int">
		SELECT
			COUNT(*)
		FROM
			movieLike
		WHERE 1=1
			AND movieCode = #{movieCode}
			AND delNy = 0 
	</select>
	
</mapper>